/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  /* Estilo do cabeçalho */
header {
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 2%; /* Exemplo: apenas 2% de padding à esquerda */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  /* Estilo do logo */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoIcon {
    width: 40px;  /* Ajuste de tamanho da imagem */
    height: 40px;
    object-fit: cover;  /* Ajusta a imagem para cobrir o espaço sem distorcer */
     margin-right: 30px;
  }
  
  .logoText {
    font-family: 'Luckiest Guy', cursive;
    color: #063F5C;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  /* Estilo do menu de navegação */
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 25px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #063F5C;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #2E8B57;
  }
  